.galery{
    padding: 10px;
    overflow-x: hidden;
}

.mins{
    display: flex;
    gap: 5px;
    /* justify-content: center; */
}

.mins a{
    flex: none;
}

.view-contaner{
    display: none;
    position: relative;
    padding: 20px;
    margin-top: 20px;
}

.view-contaner.active{
    display: block;
}

.close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    cursor: pointer;
    opacity: .4;
}

.close:hover{
    opacity: 1;
}